<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <title>{{title}}</title>
</head>
    <header id="MainHeader" class="container-fluid">
        <div class="row">
            <div class="main-title-wrapper col-4">
                <h2 class="main-title">Пообщаемся?</h2>
            </div>

            <nav id="NavBar" class="col-8">
                {% if user.is_authenticated %}
                    <img class="user-image" src="{{user.profile_image.url}}">
                    <p class="username">{{user}}</p>
                    <ul class="user-menu">
                        <li class="cap">Меню</li>
                        <ul class="menu">
                            <li class="item"><a href="{% url 'main' %}">Поиск</a></li>
                            <li class="item"><a href="{% url 'chats' %}">Сообщения</a></li>
                            <li class="item"> <a href="{% url 'newsline' %}">Лента</a></li>
                            <li class="item"><a>Профиль</a></li>
                            <li class="item"><a>Вопросы</a></li>
                            <li class="item"><a href="{% url 'logout' %}">Выйти</a></li>
                        </ul>
                    </ul>
                {% elif not is_about %}
                    <button>Войти</button>
                    <button>Регистрация</button>
                {% endif %}

            </nav>
        </div>
    </header>
<body>
{% block content %}
{% endblock %}
{% if user.is_authenticated %}
    <script src="{% static 'js/main.js' %}"></script>
{% endif %}
</body>
</html>