{% extends 'base.html' %}
{% load static %}
{%block content%}
<div class="box">
    <div class="dialog-container d-flex flex-column">
        <div class="companion-data d-flex justify-content-center align-items-center">
            <a class="back" href="{% url 'chats' %}">&larr;</a>
            <img src="{{dialog.participants.all.0.profile_image.url}}">
            <p>{{dialog.participants.all.0}}</p>
        </div>
        <div class="messages d-flex flex-column">
            {% for m in dialog.messages.all %}
                <div class="mes-wrapp">
                    {% if m.user != request.user%}
                    <p class="com-mes">
                    {% else %}
                    <p class="my-mes">
                    {% endif %}
                    {{m.text}}
                    </p>
                </div>
            {% endfor %}
        </div>
        <form id="mes-sending" class="align-self-end">
            <input type="text" class="typing" placeholder="Введите сообщение">
            <i class="fa fa-paper-plane send" aria-hidden="true"></i>
        </form>
    </div>
</div>
<script src="{% static 'js/dialog.js' %}"></script>
{% endblock %}