{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="search-form-container">
        <div class="wrapper">
            <form id="search">
                <input class="line" type="text" placeholder="Найти" name="search">
                <i class="fa fa-search"></i>
            </form>
            <div id="user-list-container">
                {% csrf_token %}
                <div class="loader-wrapper d-none">
                    <div class="loader">

                    </div>
                </div>
                <div class="user-list">
                    <p class="no-user d-none">Ничего не найдено</p>
                </div>

            </div>
        </div>
    </div>
<script src="{% static 'js/search.js' %}"></script>

{% endblock %}


