{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="search-form-container">
        <div class="wrapper">
            <form id="search">
                <input class="line" type="text" placeholder="Найти" name="search">
                <i class="fa fa-search"></i>
            </form>
            <div id="user-list-container">
                <div class="loader-wrapper d-none">
                    <div class="loader">

                    </div>
                </div>
                <div class="user-list">
<!--                    <div class="user">-->
<!--                        <img class="profile" src="{% static 'images/default.jpg' %}">-->
<!--                        <span class="full-name">Игорь Петров</span>-->
<!--                    </div>-->
                </div>

            </div>
        </div>
    </div>
<script src="{% static 'js/search.js' %}"></script>

{% endblock %}


